
#delivery-body {
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
}

#delivery-body form { width: 75% }

// MD (min-width: 768px)  iPad 
@include media-breakpoint-up(md) {
	#delivery-body form { width: 60% }
}

#delivery-body input {
	color: #495057;
	background-color: #000;
}

// XS Portrait Phone
#delivery-body .logo-delivery { width: 87px; height: 65px; }

// MD (min-width: 768px)  iPad 
@include media-breakpoint-up(md) {
    #delivery-body .logo-delivery{ width: 150px; height: 150px; }
}
