
#delivery-body { height: 100vh; @extend %min-container; }

#delivery-body form { width: 75% }

// MD (min-width: 768px)  iPad 
@include media-breakpoint-up(md) {
	#delivery-body form { width: 60% }
}

#delivery-body input {
	color: #495057;
	background-color: #000;
}

#delivery-body .logo-delivery {
    div:nth-child(1){ height: 100%; }
    img { width: 90px;  height: 75px; }
}

@include media-breakpoint-up(md) {
	#delivery-body .logo-delivery { img {width: 160px; height: 125px; } }
}

@include media-breakpoint-up(lg) {
	#delivery-body .logo-delivery { img {width: 160px; height: 125px; } }
}

@include media-breakpoint-up(xl) {
	#delivery-body .logo-delivery { img {width: 160px; height: 125px; } }
}