// Variables
@import 'variables';


/* ########################## 
*  #    XS Portrait Phone   #
*  ##########################
*/
#home-header {
	height: 50vh;
	min-height: 50vh;
}

#home-nav {
	height: 50vh;
	min-height: 50vh;
	a { font-size: 16pt;}
}

#home-logo {
	width: 204px;
    height: 168px;
}

/* ##########################################
*  # SM (min-width: 576px) Landscape Phone  #
*  ##########################################
*/

@include media-breakpoint-up(sm) {
	#home-header {
		height: 65vh;
		min-height: 65vh;
	}

	#home-nav {
		height: 35vh;
		min-height: 35vh;
		a { font-size: 16pt;}
	}

}

/* #################################
*  #  MD (min-width: 768px)  iPad  #
*  #################################
*/
@include media-breakpoint-up(md) {
	#home-header {
		height: 85vh;
		min-height: 85vh;
	}

	#home-nav {
		height: 15vh;
		min-height: 15vh;
		a { font-size: 18pt;}
	}

}

/* ####################################
*  # LG (min-width: 992px) iPad Pro   #
*  ####################################
*/

@include media-breakpoint-up(lg) {
	#home-header {
		height: 85vh;
		min-height: 85vh;
	}

	#home-nav {
		height: 15vh;
		min-height: 15vh;
		a { font-size: 20pt; }
	}

}


/* #################################
*  #   XL  (min-width: 1200px) PC  #
*  #################################
*/
@include media-breakpoint-up(xl) {
	#home-header {
		height: 85vh;
		min-height: 85vh;
	}

	#home-nav {
		height: 15vh;
		min-height: 15vh;
		a { font-size: 20pt; }
	}

}
