// Variables
@import 'variables';
 #home-body { height: 100vh; @extend %min-container; }

/* ########################## 
*  #    XS Portrait Phone   #
*  ##########################
*/
#home-header {
	height: 50vh;
	min-height: $min-height/2;
}

#home-nav {
	min-width: 100vw;
	height: 50vh;
	min-height: $min-height/2;
	a { font-size: 16pt; padding: 0.5rem 0.5rem; display: block; }
}

#home-logo {
	width: 160px;
    height: 160px;
}

/* ##########################################
*  # SM (min-width: 576px) Landscape Phone  #
*  ##########################################
*/

@include media-breakpoint-up(sm) {
	
	#home-header {
		height: 65vh;
		min-height: ( $min-height * 0.65);
	}

	#home-nav {

		height: 35vh;
		min-height: ( $min-height * 0.35);
		a { font-size: 18pt; }
	}

}

/* #################################
*  #  MD (min-width: 768px)  iPad  #
*  #################################
*/
@include media-breakpoint-up(md) {
	#home-header {
		height: 85vh;
		min-height: ( $min-height * 0.85);
	}

	#home-nav {
		height: 15vh;
		min-height: ( $min-height * 0.15);
		a { font-size: 18pt; padding: 1rem 0.5rem; }
	}

}

/* ####################################
*  # LG (min-width: 992px) iPad Pro   #
*  ####################################
*/

@include media-breakpoint-up(lg) {

	#home-nav { a { font-size: 18pt; } }

}

@include media-breakpoint-up(xl) {

	#home-nav { a { font-size: 20pt; } }

}