
#pedido-body {

    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;

    a { color: #000; font-family: $fontFamily; }
}

// XS Portrait Phone
#pedido-body a { font-size: 12pt; }

@include media-breakpoint-up(md) {
    #pedido-body a { font-size: 16pt; }    
}

// XS Portrait Phone
.bg-opaco { width: 95vw; height: 50vh; }

@include media-breakpoint-up(sm) {
    .bg-opaco { width: 95vw; height: 80vh; }
}

@include media-breakpoint-up(md) {
    .bg-opaco { width: 75vw; height: 60vh; }    
}

@include media-breakpoint-up(xl) {
    .bg-opaco { width: 75vw; height: 75vh; }    
}

// XS Portrait Phone
#peca-agora {
    position: absolute; 
    left: 20%;
    top: 0px;
    width: 75%;

    span { font-size: 13pt; }
}

@include media-breakpoint-up(sm) {
    #peca-agora {
        span { font-size: 15pt; }
    }
}

// MD (min-width: 768px)  iPad 
@include media-breakpoint-up(md) {
    #peca-agora {
        width: 50%;
        span { font-size: 18pt; }
    }
}

// LG (min-width: 992px) iPad Pro
@include media-breakpoint-up(lg) {
    #peca-agora {
        span { font-size: 21pt; }
    }

}

// XS Portrait Phone
#peca-agora + div { width: 100%; }

@include media-breakpoint-up(md) {
    #peca-agora + div { width: 75%; }
}

// XS Portrait Phone
#pedido-body .logo-delivery{ width: 87px; height: 65px; }

// MD (min-width: 768px)  iPad 
@include media-breakpoint-up(md) {
    #pedido-body .logo-delivery{ width: 190px; height: 250px; }
}

// XL  (min-width: 1200px) PC
@include media-breakpoint-up(xl) {
    #pedido-body .logo-delivery{ width: 100%; height: 100%; }
}

// XS Portrait Phone
#logo-white img { height: 60%; width: 100%  }

@include media-breakpoint-up(sm) {
    #logo-white img { height: 80%; width: 50%; }
}

@include media-breakpoint-up(md) {
    #logo-white img { height: 100%; width: 50%; }
}

// LG (min-width: 992px) iPad Pro
@include media-breakpoint-up(lg) {    
    #logo-white img {  height: 90%; width: 65%;  }
}

// XL  (min-width: 1200px) PC
@include media-breakpoint-up(xl) {    
    #logo-white img {  height: 100%; width: 50%;  }
}