
#pedido-body { height: 100vh; @extend %min-container; }

.bg-opaco { 
    width: 95vw; height: 50vh; 
    min-height: $min-height/2; min-width: ( $min-width * .95);
}

@include media-breakpoint-up(md) {
    .bg-opaco { width: 75vw; min-height: ($min-height * .95);}
}

@include media-breakpoint-up(lg) {
    .bg-opaco { height: 50vh; width: 68vw;  }
}

@include media-breakpoint-up(xl) {
    .bg-opaco { height: 75vh;  }
}

.bg-opaco .row { min-height: ($min-height/4); }

@include media-breakpoint-up(md) {
    .bg-opaco .row {  min-height: ( ( $min-height * .95 ) / 2 );  }
}

//.col-6 { border: 0.5px solid black; }

.peca-agora { 
    padding: 0px;
    img{ width: 151px; height: 85px;}
    span{
        position: absolute;
        left: 0;
        top: 0;
        z-index: unset;
        width: 151px; 
        font-size: 13pt;
        padding: 16px 24px;   
    }  
}

@include media-breakpoint-up(md) {
    .peca-agora { 
        img{ width: 220px; height: 150px;}
        span{ width: 220px; font-size: 21pt; padding: 24px; }
    }
}

@include media-breakpoint-up(lg) {
    .peca-agora { 
        img{ width: 300px; height: 200px;}
        span{ width: 300px; padding: 35px 75px; }
    }
}

.logo-white img { height: 95px; width: 89px; }

@include media-breakpoint-up(md) {
    .logo-white img { height: 150px; width: 150px  }
}

@include media-breakpoint-up(lg) {
    .logo-white img { height: 220px; width: 220px  }
}

.logo-delivery {
    
    div:nth-child(1){ height: 80%;  }
    div:nth-child(2){ height: 20%;  }

    img { width: 111px; height: 111px;}
    p { margin: 0px; font-size: 16px; }
}

@include media-breakpoint-up(md) {
    .logo-delivery {
        img { width: 211px; height: 211px;}
        p{ font-size: 21px; }
    }
}

@include media-breakpoint-up(lg) {
    .logo-delivery {
        img { width: 280px; height: 280px;}
    }
}

@include media-breakpoint-up(xl) {
    .logo-delivery {
        img { width: 240px;}
    }
}

.logo-delivery:nth-child(2) img { width: 100px; height: 100px; }

@include media-breakpoint-up(md) {
    .logo-delivery:nth-child(2) img { width: 200px; height: 180px; }    
}

@include media-breakpoint-up(lg) {
    .logo-delivery:nth-child(2) img { width: 250px; height: 230px; }    
}

@include media-breakpoint-up(xl) {
    .logo-delivery:nth-child(2) img { width: 230px; height: 240px; }    
}    