// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Paginas
@import 'home';
@import 'pedido';
@import 'delivery';

// Classes Projeto

ul{ list-style: none; }
a { text-decoration: none; }
a, span, div, li, p, input, label {  font-family: $fontFamily;   }
img { max-height: 100%; max-width: 100%; }
* { margin: 0px; padding: 0px; }

body{ @extend %min-container; }

.absolute {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.fullscreen-content {
	border: none;
	padding: 0px;
	margin: 0px;
	@extend %min-container;
	max-height: max-content;
	height: inherit; 
}

.fullscreen-img {
	width: 100vw;
	@extend %min-container;
	height: inherit;
}

.bg-opaco { background-color: $brancoOpaco; }
.bg-black { background-color: #000; }
.text-red, .text-red:link, .text-red:hover, .text-red:visited, .text-red:active { color: $vermelho; };
